.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 2em 8em;
  color: #dfdfdf;
  align-items: center;
  background-color: #234257;
  margin-top: 14em;
}

.footer-content code a{
  color: #f0c88c;
  text-transform: uppercase;
}

.footer-content h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #f0c88c;
  text-transform: uppercase;
  opacity: .5;
}


.logo-img {
  padding: 0%;
  margin: 0%;
  height: 10px;
}

.logo-img img {
  width: 40px;
  height: 40px;
}


.nav-options div {
  display: flex;
  align-items: center;
  padding: 0;
  width: 240px;
  align-content: space-between;
}

.nav-options div p {
  border-radius: 4px;
}

.nav-options div p li {
  padding-right: 8px;
  padding-left: 8px;
  list-style: none;
  background-color: #bd7100;
}

.nav-options div p li:hover {
  cursor: pointer;
  background: #234257;
  opacity: .7;
}

.main {
  display: flex;
  margin-top: 1%;
}

.main.log{
  flex-direction: column;
  align-items: center;
}

.main .loginContainer {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.main .loginContainer h2 {
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 2em;
}

.main .loginContainer .login button {
  background-color: #bd7100;
  color: whitesmoke;
  width: 240px;
  font-size: 1rem;
  font-weight: 300;
  margin: 1.4em;
  border: none;
  padding: 1em 2em;
  border-radius: .1em;
  transition: all ease .3s;
}

.main .loginContainer .login button:hover {
  background-color: #bd7100;
  color: whitesmoke;
  opacity: .8;
}

.main .loginContainer .login span {
  padding: 8px;
  color: blue;
}

.main .loginContainer .login span:hover {
  cursor: pointer;
  opacity: .8;
}

.main .loginContainer .main-alert {
  width: 400px;
  margin-top: .6em;
}

.main .loginContainer .groupInput {
  transition: all ease-in-out .5s;
}

.main .loginContainer .alert {
  padding: 1em 3em;
  background-color: #ff001911;
  color: #810000;
  font-size: .7rem;
  font-weight: 500;

  border-radius: .2em;

}

.question-page .button {
  
  padding: .5em 1.7em;
  border-radius: .1em;
  font-weight: 400;
  
}

.content {
  margin-top: 2%;
  margin-bottom: -12em;
  scroll-behavior: smooth;
}

.content .seach-suggest {
  padding: 0 2em;
  z-index: 2;
  margin-bottom: 8em;
}

.content .seach-suggest .question {
  transition: all ease .1s;
  text-align: center;
  padding: .5em 4em;
}

.content .seach-suggest .question:hover {
  cursor: pointer;
  background-color: #e2e2e291;
  border-radius: .2em;
}

.content .seach-suggest .question .item {
  margin-bottom: 1em;
}

.content .seach-suggest .question .category {
  text-transform: uppercase;
  letter-spacing: .2em;
  display: block;
  font-size: .7rem;
}



.content .seach-suggest .item .text,
.content .seach-suggest .item .text>* {
  color: #234257 !important;
  font-size: 1.3rem !important;
  font-weight: 300;
  margin: 0;
  padding: 0;
}



#modal {
  background-color: #f0c88c;
  padding: 1em;
  border-radius: 1em;
  z-index: 2;
  margin-top: -2em;
}

#modal div {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#modal div h3{
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: uppercase;
}

#modal div p{
  letter-spacing: 0;
  font-weight: 600;
}

#modal .btn {
  display: block;
  margin: 1em;
}

#modal .btn button {
  border: none;
  width: 190px;
  height: 2rem;
  border-radius: .2em;
}

#modal .btn button:first-child{
  margin-right: 2em;
}

#modal .btn #delete {
  color: #234257;
  background-color: #f0c88c;
}

#modal .btn #cancel {
  background-color: #234257;
  color: whitesmoke;
}

#modal .btn #delete:hover {
  opacity: .8;
}

#modal .btn #cancel:hover {
  opacity: .8;
}

.btn-open {
  border: none;
  width: 150px;
  height: 2rem;
  border-radius: 2px;
  opacity: 0.9;
  color: #234257;
  background-color: #f0c88c;
  margin-left: 1%;
}

.btn-open:hover {
  opacity: 1;
}

.btn-show {
  border: none;
  width: 150px;
  height: 2rem;
  border-radius: 2px;
  opacity: 0.9;
  background-color: #ccc;
  color: #234257;
  padding: 7px;
}

.btn-update {
  border: none;
  width: 150px;
  height: 2rem;
  border-radius: 2px;
  opacity: 0.9;
  background-color: #234257;
  color: white;
  padding: 7px;
  margin-left: 1%;
}

.btn-update:hover {
  opacity: 1;
  color: cornsilk;
}

.btn-edit {
  border: none;
  width: 150px;
  height: 2rem;
  border-radius: 2px;
  opacity: 0.9;
  background-color: #234257;
  color: #e2e2e2;
  padding: 7px;
  margin-left: 1%;
}

.btn-edit:hover {
  opacity: .8;
  background-color: #cccccc;
  color: #234257;
}

.btn-show:hover {
  opacity: .8;
  color: #234257;
}

.options a,
.options button {
  text-align: center;
  width: 120px;

}

/*# sourceMappingURL=styles.css.map */