

.footer-content{
    position: fixed;
    text-align: center;
    bottom: 0;
    right: 0%;
    left: 0%;
    padding-top: 8px;
    background-color: rgb(12, 11, 11);
    color: rgba(255, 255, 255, 0.582);
    behavior: none;

    div{
        display: flex;
        justify-content: center;
        align-items: center;
        h2{
            padding: 14px;
            color: #ea3546;
            font-weight: 100;
        }
        ul{
            text-align: left;
            list-style: none;
            font-size: 0.9rem;
        }
    }

    code{
        width: fit-content;
        text-decoration: underline;
    }
}

.logo-img{
    padding: 0%;
    margin: 0%;
    height: 10px;
    img{
        width: 50px;
        height: 40px;
    }
}

.nav-options{
    display: flex;
    justify-content: space-between;
    
    div{
        display: flex;
        align-items: center;
        padding: 0;
        width: 240px;
        align-content: space-between;
        p{
            border-radius: 4px;
            li{
                padding-right: 8px;
                padding-left: 8px;
                list-style: none;
                background-color: #ea3546;
            }
            li:hover{
                cursor: pointer;
                background: #222;
                color: #ea3546;
            }
        }
        
    }

}


.main{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1%;

    .loginContainer{
        width: 540px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        .login{
            button{
                background-color: #ea3546;
                color: whitesmoke;
                margin-bottom: 2%;
            }
            button:hover{
                background-color: #ea35478e;
                color: rgb(56, 56, 56);
            }
    
            button:active{
                background-color: #ea3546;
                color: whitesmoke;
            }
            span{
                padding: 8px;
                color: blue;
            }
    
            span:hover{
                cursor: pointer;
            }
        }
        .main-alert{
            width: 500px;
        }
        .alert{
            padding: 4px;
            background-color: #ff717f50;
            color: rgb(12, 11, 11);
            font-size: small;
            font-weight: 400;
            word-wrap: break-word;
        }

    }
    
}

.content{
    margin-top: 2%;
    margin-bottom: 15%;
    scroll-behavior: smooth;
    
    .seach-suggest{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: -2%;
        margin-bottom: 2%;
        padding: 8px;
       
        z-index: 2;
        p{
            font-family: 'Roboto' sans-serif;
            border-color: rgba(128, 128, 128, 0.493);
            padding: 4px;
            text-transform: capitalize;
        }
        p:hover{
            cursor: pointer;
            background-color: #ea3546;
            color: white;
            border-radius: 4px;
        }
        
    }
}


#modal{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(63, 63, 63, 0.24);
    z-index: 2;

    .btn{
        display: flex;
        justify-content: center;
        button{
            border: none;
            width: 190px;
            height: 2rem;
            border-radius: 2px;
            opacity: 0.8;
        }
    
        #delete{
            background-color: #ea3546;
            color: whitesmoke;
        }
    
        #cancel{
            background-color: rgb(12, 11, 11);
            color: whitesmoke;
        }
    
        #delete:hover{
            opacity: 1;
        }
    
        #cancel:hover{
            opacity: 1;
        }
    }
}

.btn-open{
    border: none;
    width: 150px;
    height: 2rem;
    border-radius: 2px;
    opacity: 0.9;
    background-color: #ea3546;
    color: whitesmoke;
    margin-left: 1%;
}

.btn-open:hover{
    opacity: 1;
}

.btn-show{
    border: none;
    width: 150px;
    height: 2rem;
    border-radius: 2px;
    opacity: 0.9;
    background-color: #ccc;
    color: #000;
    padding: 7px;
}

.btn-update{
    border: none;
    width: 150px;
    height: 2rem;
    border-radius: 2px;
    opacity: 0.9;
    background-color: rgb(35, 66, 87);
    color: rgb(255, 255, 255);
    padding: 7px;
    margin-left: 1%;
}

.btn-update:hover{
    opacity: 1;
    color: cornsilk;
}

.btn-edit{
    border: none;
    width: 150px;
    height: 2rem;
    border-radius: 2px;
    opacity: 0.9;
    background-color: rgb(30, 40, 85);
    color: rgb(226, 226, 226);
    padding: 7px;
    margin-left: 1%;
}

.btn-edit:hover{
    opacity: 1;
    background-color: rgb(204, 204, 204);
    color: #000;
    
}

.btn-show:hover{
    opacity: 1;
    color: #000;
}

.options{
    text-align: center;
    width: 520px;
    display: flex;
    justify-content: stretch;
    align-items: flex-start;
}





