html,
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  padding: 0;
  width: 100%;
}

section {
  min-height: 60vh;
}

input {
  border-radius: 2em;
  border: 1px solid #234257;
  outline: none;
}

input:focus {
  box-shadow: 0 0 1.5em #23425738;
  border-color: #f0c88c;
}

.en-tete {
  width: 100%;
  text-align: center;
}

h1,
.en-tete h1 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2rem;
}

hr {
  color: #234257;
  background: #234257;
  margin-bottom: 2em;
  margin-left: 14em;
  margin-right: 14em;
}

p {
  font-size: 1.1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  background-color: #234257;
  font-family: 'Montserrat', sans-serif;
}


nav .logo-img {
  width: 54px;
  height: 44px;
}

nav a {
  font-weight: 500;
  letter-spacing: .1em;
  padding: 1rem;
  border-radius: .1rem;
  text-transform: uppercase;
  transition: all ease .4s;
}

nav a:first-of-type {
  margin-left: -1.5rem;
}

nav a:hover {
  opacity: .8;
}

a {
  color: #f0c88c;
  text-decoration: none;
}

nav .action a:last-child {
  color: #234257;
  background-color: #f0c88c;
  padding: .4em 1em;
  font-size: 900;
}

section {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem;
}
h1, h2, h3{
  color: #234257;
}
section h1 {
  font-size: 2rem;
}

input,
select,
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.question h2 {
  font-size: 2.5rem;
}

.question-excerpt {
  padding: 1.5rem 0;
  border-bottom: 1px solid #eee;
}

.question-excerpt:first-of-type {
  padding-top: 0;
}

.question-excerpt h2 {
  margin-top: 0;
  letter-spacing: 0 !important;
  color: #234257;
}

.question-excerpt:not(h2) p {
  font-size: .9rem;
  font-weight: bolder;
  color: #222222be;
  letter-spacing: .2em;
  margin-top: -.5em;
  margin-bottom: -.1em;
}

.question-excerpt h2 p {
  letter-spacing: 0 !important;
}


.question-excerpt small {
  font-weight: bolder;
  font-size: .5rem;
  letter-spacing: .3em;
  color: #222222be;
}

.question-excerpt article h2,
article h2>* {
  font-size: 1.5rem !important;
  font-weight: 700 !important;
  color: #234257 !important;
}

.answer {
  background: #f0f0f0;
  border-radius: 4px;
  padding: 1rem 1.5rem;
  margin: 1rem 0;
}

.button {
  display: inline-block;
  color: #234257;
  background-color: #f0c88c;
  border-radius: .2em;
  font-weight: 400;
  padding: 0.75rem 1.5rem;
  border: none;
}

.right {
  float: right;
}